/************************************* TAG SELECTOR *********************************/

h1{
color: red;
font-size: 200px;
}

img:hover{
background-color: gold;
}


/************************************* CLASS SELECTOR*********************************/


.egg {
  background-color: green;
}

.broccoli {
  background-color: red;
}
.circular{
  border-radius: 100%;
}


/************************************* ID SELECTOR *********************************/

#heading {
color: blue;
}
