@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Oswald:wght@600&display=swap');

.strips section{
        width: 1000;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 99;
}


.top-conatiner{

    width: 1200px;
    height: 550px;
    background-image: url(assets/picl-1.jpg);
    background-size: cover;
    margin: auto;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    border-bottom: 2px dotted white;
    width: 1000px;
    margin: auto;
}

.social-icon{
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.mail-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.contact-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
i{
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

/*----------
    nav-bottom
    ----------*/

.nav-bottom{
    padding-left: 15px;
    padding-right: 10px;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hotel-name{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-links div{
    margin-right: 30px;
    color: white;
    cursor: pointer;
}

.italic-text{
    color: white;
    margin-top: 8%;
    text-align: center;
    font-size: 45px;

    font-family: 'Birthstone', cursive;
}
.bold-text{
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
} 

.top-conatiner button{
    margin-left: 40%;
    margin-top: 50px;
    padding: 10px;
    width: 200px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    color: #1aa139;
    cursor: pointer;
}

/*-----------
Body-1
-------*/

.main-body{
    width: 1000px;
    height: 1300px;
    margin: auto;
    
}

.body-1{
    margin-top: 80px;
    height: 280px;
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
}

.image-1{
    width: 350px;
    background-image: url("assets/pic-2.jpg");
    background-size: contain;
}

.info{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 650px;
}

.info button{
    padding: 10px;
    width: 150px;
    border: none;
    background-color: #1aa139;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.item-name{
    font-size: 25px;
    /* font-family: 'Oswald', sans-serif ; */
    font-weight: bold;
}

.date{
    margin-top: 0;
    display: flex;
    flex-direction: row;
}
.date div{
    margin-left: 30px;
}
.date div:first-child{
    margin-left: 0;
}

.calander{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.admin{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.comment{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*----------
Footer
----------*/

.footer{
    margin-top: 100px;
    width: 1200px;
    height: 500px;
    margin: auto;
    background-color: cyan;
}  

.time{
    height: 100px;
    background-color: #1aa139;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
}

.weeks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}

.weeks div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 2px dotted white;
    color: white;
}
.weeks div:last-child{
    border-right: none;
}
.contact-us{
    background-color: black;
    height: 300px;
    color: white;
    padding: 50px;
    align-items: flex-start;
}
.follow-us-components{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.address div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    line-height: 10px;
}

.follow-us{
    display: flex;
    flex-direction: column;
    line-height: 10px;
}

.follow-us div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feedback{
    display: flex;
    flex-direction: column;
    width: 250px;
    
    line-height: 10px;

}
.feedback input{
    width: 250px;
    padding: 8px;
    margin: 10px 0;
    border: 2px solid #eee;
    border-radius: 10px;
}

.feedback button{
    width: 270px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #1aa139;
    color: white;
    font-weight: bold;
    align-items: center;
}

.copyright{
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.copyright a{
    text-decoration: none;
    color: #1aa139;
    margin-right: 3px;
}







