body{
  margin: 0;
}

.yellow{
  display: block;
  height: 200px;
  width: 200px;
  background: yellow;
  position: absolute;

}

.blue{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 200px;
  bottom: 390px;
  background: blue;

}
.red{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 400px;
  bottom: 190px;
  background: red;
}
