body {
  background-color: #f8f9fa;
  font-family: "Nunito", sans-serif;
}

.container {
  padding: 24px;
  display: flex;
  justify-content: center;
}

.topbar {
  background-color: #a5a5f8;
  padding: 24px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

#menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}

#menu a {
  color: white;
  text-shadow: 3px 3px black;
}
#menu a:nth-child(2) {
  margin-left: -150px;
}

#menu img {
  vertical-align: middle;
  height: 68px;
}

#menu h1 {
  cursor: default;
  font-size: 28px;
  font-weight: 900;
}

main {
  background-color: #f8f9fa;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 55%;
  border-radius: 20px;
}

.foodContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin: 10px;
  border: 6px solid #a5a5f8;
  border-style: ridge;
  border-radius: 8px;
}

.foodContainer > div {
  background-color: white;

  width: 250px;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;

  align-items: center;
  text-align: center;
}

main > div img {
  height: 190px;
  max-width: 245px;
  border-radius: 8px;
}

footer {
  padding-top: 5px;
  padding-bottom: 8px;
  width: 100%;
  background-color: black;
  text-align: center;
  color: #f8f9fa;
}

