body{
  margin: 0;
}

.yellow{
  display: block;
  height: 200px;
  width: 200px;
  background: yellow;
  position: fixed;
  top: auto;
}

.blue{
  height: 200px;
  width: 200px;
  position: fixed;
  left: 200px;
  bottom: 420px;
  background: blue;

}
.red{
  height: 200px;
  width: 200px;
  position: fixed;
  left: 400px;
  bottom: 220px;
  background: red;
}

.heading{
  color: #000080;

  font-family: cursive;
  font-style: italic ;
  position: fixed;
  right: 350px;
  bottom: 400px;
}
